body {
  font-family: "Heebo", sans-serif;
  height: 100vh;
  background-color: darkslategray;
}
.noBord {
  border: 0;
}
.noMarg {
  margin: 0;
}
#title {
  text-align: center;
}
.lg {
  background-color: lightgray;
}
#abtCrd {
  background-color: grey;
  margin-top: 15px;
}
.rounding {
  border-radius: 10px;
}

/* small */
@media screen and (min-width: 40em) {
  #title {
    margin-bottom: 8px;
  }
  .contTitle {
    text-align: center;
  }

  #abtCrd {
    margin-top: 15px;
  }
}
/* medium */
@media screen and (min-width: 64em) {
  #menuBtn {
    position: absolute;
  }
  .contTitle {
    padding-left: 20px;
  }
}
